body, html {
  height: 100%;
  text-align: center;
}

.nameContainer{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.container{
  width: 100%;
  height: 100%;
}
body {
background-color: #0b0c10;
}
blockquote{
  padding-top: 1px;
  padding-bottom: 1px;
  color: white /* Just change the color value and that's it*/
}
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b0c10;

}
.loader {
display: inline-block;
width: 30px;
height: 30px;
position: relative;
border: 4px solid #Fff;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #6F2232;
animation: loader-inner 2s infinite ease-in;
}

.box{
  width: 200px;
  margin: 10px;
}
/* .box h2 {
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
.box ul 
{
  background: #0b0c10;
}
.box ul:hover li
{
  opacity: 0.2;
}
.box ul li
{
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #0b0c10;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  transition: transform 0.5s;
  color: #fff;
}
.box ul li:hover
{
  transform: scale(1.1);
  z-index: 100;
  background: #950740;
  box-shadow: 0 5px 25px rgba(0,0,0,.2);
  color: #fff;
  opacity: 1;
}
.box ul li span
{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #6F2232;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}


@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}