.parent {
    background: mediumpurple;
    padding: 1rem;
  }
  .child {
    border: 1px solid indigo;
    padding: 1rem;
  }
  .float-left-child {
    float: left;
  }
  .inline-block-child {
    display: inline-block;
  }
  .flex-parent {
    display: flex;
  }
  .flex-child {
    flex: 1;
  }
  .grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr
  } 
  .body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }