<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I completed my <strong>B. Tech.</strong> graduation in <strong>Electronics & Communication Engineering</strong> from 
      <a class="underline-link" href="https://www.iiitdmj.ac.in" target="_blank">IIITDM Jabalpur</a>. I am a fast learner, adept at quickly mastering new frameworks and languages with ease.
    </p>

    <p>
      As a software developer at HackerEarth, I bring a strong problem-solving mindset, a passion for learning, and expertise in backend technologies to deliver robust and efficient solutions. 
      With my solid coding skills and experience, I strive to build scalable and innovative software applications.
    </p>

    <p>
      My journey in software development has equipped me with a deep understanding of various programming languages, frameworks, and tools. 
      I am driven by the opportunity to tackle complex challenges and continuously enhance my skills. 
      I am eager to work on cutting-edge technologies and stay up-to-date with the latest trends in the industry. 
      My adaptable nature allows me to quickly grasp new concepts and contribute effectively to the success of projects.
    </p>
    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing games, travelling, binge-watching or crossing off another item on my bucket list.
    </p>

    {% include employment-status.html %}
  </div>
</section>
