<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/ajwad-shaikh/oh-miss" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/oh_screen.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://oh-miss.web.app/" target="_blank"><h3 class="arrow-link">OH-MISS</h3></a>
        </div>
        <p>devise a solution to track and monitor flora and fauna in a given ecosystem and visualise to resuntantly evaluate the data. Develoved Embedded software and designed circuit for the device to Store data and location timestamps. <a class="underline-link" href="https://github.com/ajwad-shaikh/oh-miss">here</a>.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="" target="_blank">
          <div>
            <img src="{{site.baseurl}}/img/featured/home.jpg" style="height: 24vw; width: auto" alt="">
          </div>
          <div>
            <img src="{{site.baseurl}}/img/featured/login.jpg" style="height: 24vw; width: auto" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/abhaykes1/ShopApp" target="_blank"><h3 class="arrow-link">Shop App</h3></a>
        </div>
        <p>Independently learned React Native and Expo, crafting a mobile shop. Admin panel enabled product management, while users accessed a seamless buying experience.</p>
      </figcaption>
    </div>
  </div>
</section>
